nheer.io {
    tls niklas.heer@gmail.com
    root /var/www/test
    gzip
    log /var/log/caddy/test-access.log
    errors /var/log/caddy/test-error.log
    minify
    header / Cache-Control "max-age=2592000"

    rewrite index.html index.md

    git git@github.com:niklas-heer/dvocc16.git {
        hook /webhook super-secret-key
        path ../
        then /usr/local/bin/hugo --theme=nh --destination=/var/www/blog_nheer_io/public
    }

    markdown / {
        ext .md
        template assets/hack.html
    }

    basicauth / user dvocc16

    filemanager / {
        show           /var/www/test
        allow_commands false
        user:
        allow_commands true
        allow_command  rm
        allow_command  cp
        allow_command  mv
        allow          dotfiles
    }
}
